version: '3.4'

services:

  #blazorpatient:
  #  image: ${DOCKER_REGISTRY-}blazorpatient
  #  build:
  #    context: .
  #    dockerfile: src/BlazorPatient/Dockerfile
  #  ports:
  #   - "5004:80"
  #   - "5005:443"
  #  depends_on:
  #   - patientdemographics-api

  #patientdemographics-api:
  #  image: ${DOCKER_REGISTRY-}patientdemographics
  #  build:
  #    context: .
  #    dockerfile: src/PatientDemographics/Dockerfile
  #  ports:
  #   - "5000:80"
  #   - "5001:443"
  #  depends_on:
  #   - sqldata

  patienthistory-api:
    image: ${DOCKER_REGISTRY-}patienthistory
    build:
      context: .
      dockerfile: src/PatientHistory/Dockerfile
    ports:
     - "5002:80"
     - "5003:443"
    depends_on:
     - mongo
    networks:
      - local


  mongo:
    container_name: mongo
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - local

  #sqldata:
  #  image: mcr.microsoft.com/mssql/server:latest
  #  environment:
  #     - SA_PASSWORD=Passw@rd123!
  #     - ACCEPT_EULA=Y
  #  ports:
  #      - "5433:1433"

networks:
  local:
    external: true