version: '3.4'

services:
  patientdemographics:
    image: ${DOCKER_REGISTRY-}patientdemographics
    build:
      context: .
      dockerfile: Patient Demographics/Dockerfile
    environment:
      - DB_PW
    depends_on:
      - db
  db:
    image: mcr.microsoft.com/mssql/server
    volumes:
      - mssql-server-patient-data:/var/opt/mssql/data
    environment:
        SA_PASSWORD: "Passw@rd"
        ACCEPT_EULA: "Y"
    ports:
        - "1433:1433"
volumes:
  mssql-server-patient-data: {}